<legend><%= link_to @run_item.run.name, run_path(@run_item.run) %>  <small>- <%= @run_item.device.name  %></small> <span class="pull-right"><%= display_status(@run_item.status) %></span></legend>

<%= link_to 'Back', run_path(@run_item.run), :class=>"pull-right" %>
<ul class="nav nav-tabs" id="report_tab">
  <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
  <li><a href="#basic" data-toggle="tab">Basic</a></li>
  <li><a href="#html" data-toggle="tab">Html</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="summary">
      <div class="row">
            <div class="span10 offset1">
              <div class="row">
                <table class="table span3">
                   <caption><strong>Result</strong></caption>
                  <tr>
                    <td>Passed</td>
                    <td><%= @run_item.scenarios.select {|s| s.status == "passed"}.length %></td>
                  </tr>
                  <tr>
                    <td>Failed</td>
                    <td><%= @run_item.scenarios.select {|s| s.status == "failed"}.length %></td>
                  </tr>
                  <tr>
                    <td>Skipped</td>
                    <td><%= @run_item.scenarios.select {|s| s.status == "skipped"}.length %></td>
                  </tr>
                  <tr>
                    <td><strong>Total</strong></td>
                    <td><strong><%= @run_item.scenarios.size %></strong></td>
                  </tr>
                </table>

                 <table class="table span3 offset1">
                   <caption><strong>Device Details</strong></caption>
                  <tr>
                     <td>Device Name</td>
                     <td><%= @run_item.device.name %></td>
                   </tr>
                   <tr>
                     <td>Device Type</td>
                     <td><%= @run_item.device.device_type.humanize %></td>
                   </tr>
                   <tr>
                     <td>Os</td>
                     <td><%= @run_item.device.os %></td>
                   </tr>
                </table>
              </div>
            </div>
          </div>
  </div>
  <div class="tab-pane" id="basic">
      <div class='row'>
        <div class="span10 offset1">
          <dl>
            <% @run_item.features.each do |feature| %>
              <dt><%= feature.name %></dt>
              <% feature.scenarios.each do |scenario| %>
                <dd><%= convert_status(scenario.status) %> <%= "#{scenario.name}" %></dd>
              <% end %>
            <% end %>
          </dl>
        </div>
      </div>
  </div>
  <div class="tab-pane" id="html">
      <div class='row'>
       <iframe src="/reports/<%= @run_item.id %>/result.html" frameborder="0" class="span12 well well-small" style="height: 600px;"></iframe>
    </div>
  </div>
</div>



