<%= simple_form_for(@device,:html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
    <%= f.input :name,:autofocus => true %>
    <%= f.input :ip, :required => true  %>
    <%= f.input :os, :required => true  %>
    <%= f.input :device_type, :required => true  %>
    <div class="form-actions">
        <%= f.button :submit, :class => 'btn-primary' %>
         <%= link_to 'Cancel', devices_path,:class => "btn btn-danger" %>
    </div>
<% end %>
