<legend>Devices</legend>
<%= link_to 'New Device', new_device_path,:class=>"pull-right" %>
<div class='row'>
  <div class="span10 offset1">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Ip</th>
        <th>Os</th>
        <th>Type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
     </thead>
     <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.ip %></td>
        <td><%= device.os %></td>
        <td><%= device.device_type %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
     </tbody>
    </table>
  </div>
</div>


