<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @device.ip %>
</p>

<p>
  <b>Os:</b>
  <%= @device.os %>
</p>

<p>
  <b>Type:</b>
  <%= @device.device_type %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
