<!-- Table -->
<div class="row">
<h4>Run history</h4>
  <div class="span12">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Runs</th>
          <% @devices.each do |d| %>
            <th><%= d.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @runs.first(5).each do |run| %>
          <tr>
            <td><%= link_to run.name,run_path(run) %></td>
            <% @devices.each do |d| %>
              <% index = run.run_items.index{|item| item.device.name == d.name } %>
              <% unless index.nil? %>
                <td><%= find_counts(run.run_items[index],'passed') %> / <%= run.run_items[index].scenarios.length %> </td>
                <!-- <td><%= link_to run.run_items[index].status, run_run_detail_path(run,run.run_items[index]) %></td> -->
              <% else %>
                <td>-</td>
              <% end -%>
            <% end %>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
<% @runs.last.run_items.in_groups_of(4, false) do |run_items| %>
<div class="row">
  <h4>Last run</h4>
    <% run_items.each do |run_item| %>
      <div class="span3">
        <legend class="text-center"><%= run_item.device.name %></legend>
        <% element_id = "donut_#{run_item.id}" %>
        <div id="<%= element_id %>" class="graph"></div>
      </div>
      <%= data_for_donut(run_item.id,element_id) %>
    <% end %>
</div>
<% end %>

<h2>Test trends</h2>

<% @device_data.in_groups_of(3, false) do |d| %>
  <div class="row">
    <% d.each do |ditem| %>
      <div class="span4">
         <legend class="text-center"><%= ditem.keys[0] %></legend>
          <% element_id = "bar_#{ditem.keys[0].parameterize}" %>
         <div id="<%= element_id %>" class="graph"></div>
      </div>
      <%= data_for_bar(ditem.keys[0],element_id) %>
    <% end %>
  </div>
<% end %>



