<legend>Settings</legend>

<%= simple_form_for :settings, :url => '/settings/update',:html => {:class => 'form-horizontal' } do |f| %>
  <%= f.input :project_path,input_html: { value: @settings[:project_path] } %>
  -OR-
   <%= f.input :git_url, input_html: { value: @settings[:git_url] }  %>
  <%= f.input :default_commands,input_html: { value: @settings[:default_commands] } %>

   <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
         <%= link_to 'Cancel', settings_path,:class => "btn btn-danger" %>
  </div>
<% end %>
