<legend>Settings <small><span class='pull-right'><%= link_to 'Edit', settings_edit_path%></span></small></legend>


<div class='row'>
  <div class="span10 offset1">
    <table class="table">
      <tbody>
        <% @settings.each do |key,value| %>
        <tr>
          <td><%= key.humanize %></td>
          <td><%= value %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

