<tr>
        <td><%= link_to device.device.name, run_run_detail_path(@run,device) %></td>
        <td><% if(device.status=="Running") %> <%= content_tag(:i," ",:class => "icon-refresh icon-spin") %> <% end %><%= display_status(device.status) %></td>
        <td>
         <small>
         Total : <span class="badge"><%= device.scenarios.size %></span> |
         Passed : <span class="badge badge-success"> <%= device.scenarios.select {|s| s.status == "passed"}.length %> </span> |
         Failed : <span class="badge badge-important"><%= device.scenarios.select {|s| s.status == "failed"}.length %> </span>|
         Skipped : <span class="badge badge-info"><%= device.scenarios.select {|s| s.status == "skipped"}.length %> </span>
      </small>
        </td>
      </tr>
