<%= simple_form_for(@run,:html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

<!--   <div class="form-inputs">
    <%= f.input :start_date %>
  </div>
 -->

  <%= f.association :devices, as: :check_boxes, label: 'Select devices:', collection: Device.active.all(order: 'name') %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', runs_path,:class => "btn btn-danger" %>
  </div>

<% end %>
