<legend>Runs</legend>
<%= link_to 'New Run', new_run_path,:class=>"pull-right" %>
<div class='row'>
  <div class="span10 offset1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Run Name</th>
          <th>Status</th>
          <th>Devices</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= link_to run.name, run %></td>
        <td><%= display_status(run.status) %></td>
        <td><%= run.run_items.size %></td>
        <td><%= link_to ' ', run, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "icon-trash"  %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <%= paginate @runs %>
  </div>
</div>

