<legend>Report  <small> &nbsp;<%= link_to @run.name, run_path(@run) %></small> </legend>
<div class='row'>
  <div class="span10 offset1">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th>
          <% @run.run_items.each do |run_item| %>
            <th><%= run_item.device.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @run.run_items[0].features.each_with_index do |feature,feature_index| %>
          <tr>
            <td class='feature'><%= feature.name %></td>
              <% @run.run_items.length.times do  %>
                <td></td>
              <% end %>
          </tr>
          <% feature.scenarios.each_with_index do |scenario,index| %>
            <tr>
              <td class='scenario'><%= scenario.name %></td>
               <% @run.run_items.each do |run_item| %>
                <td><%= convert_status(run_item.features[feature_index].scenarios[index].status) %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



