
<legend><%= @run.name %></legend>
<span ><i class='icon-bar-chart'></i> <%= link_to 'Report', report_run_path(@run)%></span>
<%= link_to 'Back', runs_path, :class=>"pull-right"%>
<div class='row'>
  <div class="span10 offset1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Device Name</th>
          <th>Status</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody id='device_details'>
        <%= render partial: "device", collection: @run.run_items %>
      </tbody>
    </table>
  </div>
</div>


<% unless completed?(@run) %>
  <%= javascript_tag do -%>
  $(document).ready(
    function(){
      setInterval(function(){
        $.ajax({
          url: "<%= run_path(@run) %>",
          type: "GET",
          dataType: "script"
      });
    }, 4000 );
  });
  <% end -%>
<% end -%>

