// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.green{
  color:#468847;
}

.red{
  color:#b94a48;
}

.blue{
  color:#3a87ad;
}


.feature{
  font-weight: bold;
}

.scenario{
  text-indent: 20px;
}
