<%= link_to "Mobile Grid", root_path, :class => 'brand' %>
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Welcome <%= current_user.name %> | <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
  <% else %>
   <!-- <%= link_to 'Login', new_user_session_path %> -->
  <% end %>
</p>
<ul class="nav">
  <%= nav_link 'Dashboard', root_path %>
  <%= nav_link 'Runs', runs_path %>
  <%= nav_link 'Devices', devices_path %>
  <%= nav_link 'Settings', settings_path %>
</ul>
